<footer class="footer py-3 mt-auto"  style="background-color: #2D3640;">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; Shopping-Cart 2023</p>
    </div>
</footer>
